.nav__category {
  display: none;
    position: fixed;
    z-index: 99999;
    top: 20px;
    background: #f6f5f1;
    height: 70px;
    line-height: 70px;
    width: 100%;
  .item {
    display: inline-block;
    text-align: center;
    min-width: 170px;
    padding: 0 30px;
  }
  a {
    padding: 10px 20px;
    background: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 0 #000000a3;
  }
}
.category__menu--items {
  background: #f6f5f1;
  padding: 100px 0;
  .item__top {
    img {
      width: 100%;
      height: 100%;
    }
  }
  a {
    background: #fff;
    color: #8f856b;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 7px 7px;
    margin: -4px 0 0;
    padding: 12px 0;
    display: block;
  }
  .item {
    cursor: pointer;
     img {
      border-radius: 10px 10px 0 0;
     }
    &::before {
      content: "";
      position: absolute;
      width: 79%;
      height: 100%;
      top: 0;
      bottom: 0;
      background: #1f1d3a;
      display: none;
      opacity: 0.4;
      padding-right: 30px;
      border-radius: 10px;
    }
  
    &:hover {
      &::before {
        display: block;
      }
    }
  }
}
.active__item {
  position: relative;
  &::after {
    content: "\2714";
    position: absolute;
    color: #fff;
    top: 0;
    font-size: 50px;
    font-weight: bold;
    display: block;
    background: #1f1d3a;
    opacity: 0.5;
    width: 79%;
    height: 100%;
    padding: 45% 30%;
    border-radius: 10px;
  }
}
.category__show--product {
  .item {
    margin-bottom: 30px;
  }
  img {
    border-radius: 10px 10px 0 0;
  }
  padding: 50px 0;
  h3 {
    font-size: 50px;
    color: #8f856b;
    text-align: center;
    font-weight: bold;
  }
  h4 {
    text-align: center;
    color: #8f856b;
    font-weight: bold;
    font-size: 25px;
  }

  .headding p {
    color: #8f856b;
    text-align: center;
    margin: 5px 0 50px;
    font-size: 24px;
  }
  .content p {
    color: #8f856b;
    text-align: center;
    font-size: 20px;
  }

  .item__img img {
    width: 100%;
    height: 100%;
  }
  .note__img {
    background: #e8e6e6;
    border-radius: 0 0 10px 10px;
    padding: 20px 0;
    margin-top: -5px;
  }
}

@media (max-width: 767px) {
  .category__menu--items {
    padding: 50px 0;
  }
  .category__show--product {
    padding: 50px 0;
    .content {
      padding: 0;
    }
  }
  .category__show--product h3 {
    font-size: 25px;
  }
  .category__show--product .headding p {
    font-size: 16px;
    line-height: 1.3;
  }
  .item.col-md-2 {
    display: inline-block;
  }
  .category__show--product {
    h4 {
      font-size: 18px;
    } 
    .content p {
      font-size: 14px;
    }
  }
  .category__show--product .note__img {
    padding: 15px 0;
  }
  
  .active__item {
    position: relative;
    &::after {
      width: 82%;
      padding: 45% 33%
    }
  }
  
  .category__menu--items {
    .item::before {
      width: 82%;
    }
  }
}

.owl-item.active, .owl-item {
  width: 230px !important;
}
