.feature__main {
  background: #f6f5f1;
  padding: 20px;
}
.feature__link--pages {
  a {
    color: #8f856b;
    font-size: 18px;
  }
}
.feature__content {
  .content {
    background: #fff;
    padding: 20px;
  }
  img {
    width: 100%;
  }
}
.title__product {
  h3 {
    color: #8f856b;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;
    padding: 20px 0 10px;
  }
  p {
    color: red;
    text-align: left;
    padding: 15px 0 25px;
  }
}
.info__product h4 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
}
.back--page {
  margin: 60px auto 10px;
  text-align: center;
  a {
    color: #fff;
    background: #8f856b;
    padding: 20px 46px;
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .back--page a {
    padding: 15px 20px;
    font-size: 20px;
  }
  .item__right {
    width: 100% !important;
  }
  .feature__link--pages {
    a {
      font-size: 14px;
    }
  }
}
