.main__banner {
  background-image: url(../images/1920x800.png);
  padding-top: 100px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;

  p {
    font-size: 30px;
    color: #fbfdff;
    width: 60%;
    margin: 30px 0;
  }
  button {
    color: white;
    background: $color__brown;
    padding: 20px 90px;
    font-weight: bold;
    font-size: 45px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      box-shadow: 3px 3px 4px 0px black
    }
  }
}
.submit__banner {
  width: 40%;
  margin: 50px 0;
  p {
    font-size: 28px;
    margin: 10px 50px;
  }
}

p.main__banner--header {
  font-size: 70px;
  color: white;
  width: 60%;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1px;
  margin: 60px 0 30px;
}
.main__introduce {
  p {
    font-size: 26px;
    color: $color__brown;
    text-align: center;
    padding: 25px 0 45px;
  }
}

.main__introduce {
  background: #f6f5f1;
}
.introduce__content img {
  border-radius: 20px;
} 

.introduce__headding {
  font-size: 60px;
  color: $color__brown;
  padding: 95px 0px 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1px;
}
.introduce__content {
  .item {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 500;
  }
}
.introduce__button {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  button {
    padding: 30px 30px;
    color: $color__brown;
    border: 4px solid $color__brown;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      box-shadow: 3px 3px 4px 0px black;
    }
  }
}

.main__use {
  padding: 0px 50px 80px;
}
.main__use--content {
  padding: 0 100px;
  img {
    border-radius: 15px;
  }
  p {
    text-align: left;
    text-align: justify;
    padding: 5px 5px 0;
    font-size: 18px;
  }
}
.main__use--header {
  color: $color__brown;
  padding: 75px 0;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
.main__use--content {
  h3 {
    font-size: 30px;
    font-weight: bold;
    color: #90866b;
    margin: 15px 0 5px;
  }
  .item {
  text-align: center;}
}

.customer_reviews {
  background: #f3f3f3;
  padding: 0 75px 60px;
}

.customer__reviews--items {
  margin-bottom: 30px;
}

.customer_reviews--header {
  color: $color__brown;
  padding: 38px 0;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.info__reviews--top {
  display: flex;
  .avatar {
    flex: 2;
    border: 2px solid #f6f5f1;
    border-radius: 125px;
    overflow: hidden;
    height: 125px;
    width: 125px;
    text-align: center;
    img {
      width: unset;
    }
  }
  .info {
    flex: 3;
    text-align: left;
    padding-top: 40px;
    h4 {
      font-size: 35px;
      font-weight: bold;
    }
    p {
      font-size: 22px;
    }
  }
}
.info__reviews {
  border: 3px solid $color__brown;
  border-radius: 20px;
  margin: 0 auto;
  padding: 25px 5px;
}

.content__reviews {
  text-align: center;
  margin-top: 15px;
  p {
    font-size: 22px;
    text-align: left;
    padding: 0 25px 20px;
  }
}
.product__description {
  padding-top: 10px;
  .items {
    display: flex;
  }
  .item-left {
    flex: 1;
    text-align: right;
    height: 800px;
    .product__description--img {
      height: 100%; 
      img {
        height: 100%;
      }
    }
  }
  .item-right {
    flex: 1;
    text-align: left;
    max-height: 800px;
  }
}

.product__description--content {
  background: #a9a59a;
  padding: 160px 130px;
  height: 100%;
  h3 {
    font-size: 55px;
    color: white;
    width: 100%;
    font-weight: bold;
    line-height: 1.3;
  }
   p {
    color: white;
    font-size: 25px;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
   }
   button {
    color: white;
    background: #90866b;
    padding: 15px 75px;
    font-weight: bold;
    font-size: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      box-shadow: 3px 3px 4px 0px black;
    }
  }
}

@media (max-width: 767px) {
  .main__banner button {
    color: white;
    background: #90866b;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  .main__banner {
    padding-top: 50px;
    padding-bottom: 50px;
    height: unset;
  }
  .main__banner p {
    font-size: 16px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    line-height: 1.3;
  }
  p.main__banner--header {
    width: 100%;
    font-size: 28px;
    text-align: center;
  }
 .submit__banner {
  width: 100%;
  text-align: center;
  }

  .introduce__headding {
    font-size: 25px;
    padding: 35px 0 30px;
  }

  .note__header {
    display: none;
  }
  .main__introduce p {
    font-size: 20px;
    padding: 0 0 30px;
  }

  .introduce__content {
    padding: 0;
  }
  .introduce__button button {
    padding: 10px;
    font-size: 18px;
  }
  .main__use {
    padding: 0px 15px 45px;
  }
  .main__use--header {
    padding: 40px 0;
    font-size: 25px;
  }
  .main__use--content {
    .col-md-3 {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    padding: 0;
    .item {
      margin-bottom: 20px;
    }
    .item__top {
      float: left;
      width: 49%;
      padding: 0 1%;
    }
    .item__bot {
      float: right;
      width: 49%;
      padding: 0 1%;
    }
  }
  .main__use--content p {
    font-size: 12px;
    margin-bottom: 45px;
    text-align: left;
    padding: 5px 0px 0;
  }

  .main__use--content h3 {
    font-size: 14px;
    text-align: left;
    margin: 10px 0 0px;
  }
  
  .customer__reviews--items {
    margin-right: 20px;
  }
  
  .customer_reviews {
    background: #f6f5f1;
    padding: 0 15px 60px;
  }

  .customer_reviews--header {
    padding: 50px 0;
    font-size: 25px;
    line-height: 1.3;
}

  .info__reviews .avatar {
    border-radius: 90px;
    height: 65px;
    width: 65px;
    flex: 3;
  }

  .info__reviews .info {
    flex: 7;
    padding-top: unset;
    text-align: left;
    margin: 22px 0 0;
     h4 {
        font-size: 16px;
     }
     p {
       font-size: 12px;
     }
  }

  .content__reviews p {
    font-size: 12px;
    text-align: justify;
    padding: 10px 5px;
    line-height: 1.3;
  }

  .info__reviews {
    margin: 10px 0;
    padding: 10px 0px;
    border-radius: 10px;
  }
  .content__reviews {
    margin-top: unset;
  }

  .product__description--content {
    padding: 50px 15px;
    text-align: center;
    margin-top: -5px;
  }

  .product__description--content h3 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    line-height: 1.3;
    padding: 0 0 20px;
  }
  .product__description--content{
    p {
      color: white;
      font-size: 16px;
      width: 100%;
      margin-bottom: 30px;
      line-height: 1.3;
    }
    button {
      padding: 10px 50px;
      font-size: 25px;
    }
  }
  .product__description {
    padding-top: 10px;
    .items {
      display: block;
    }
    .item-left, .item-right {
      flex: unset;
      height: unset;
    }
  }
}
