
<div class="nav__category">
  <div class="items ">
    <div class="item"><a href="">TẤT CẢ</a></div> 
    <div class="item "><a href="">SOFA</a></div> 
    <div class="item"><a href="">BÀN GHẾ ĂN</a></div> 
    <div class="item"><a href="">GIƯỜNG NGỦ</a></div> 
    <div class="item"><a href="">KỆ TRANG TRÍ</a></div> 
    <div class="item"><a href="">TỦ QUẦN ÁO</a></div> 
  </div>
</div>
<div class="category__menu">
  <div class="category__menu--items">
    <div class="container">
      <div class="add__carousel row">
        <div class="item  col-md-2 active__item">  <!-- Active item: add class "active__item"  -->
          <img src="../images/200x250.png" alt="">
          <a>TẤT CẢ</a>
        </div>
  
        <div class="item col-md-2">
          <div class="item__top">
            <img src="../images/200x250.png" alt="">
          </div>
         <div class="item__bot">
            <a>SOFA</a>
         </div>
        </div>
  
        <div class="item col-md-2">
          <img src="../images/200x250.png" alt="">
          <a>BÀN GHẾ ĂN</a>
  
        </div>
        <div class="item col-md-2">
          <img src="../images/200x250.png" alt="">
          <a>GIƯỜNG NGỦ</a>
  
        </div>
        <div class="item col-md-2"> 
          <img src="../images/200x250.png" alt="">
          <a>KỆ TRANG TRÍ</a>
        </div>
        <div class="item col-md-2">
          <img src="../images/200x250.png" alt="">
          <a>TỦ QUẦN ÁO</a>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="category__show--product">
  <div class="container">
    <div class="headding">
      <h3>Tất cả sản phẩm</h3>
      <p>Từ sofa, bàn ghế ăn đến giường tủ bàn ghế, mọi rủi ro đều được khắc phục với công nghệ AR</p>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <div class="item">
            <div class="item__img">
              <img src="../images/350x400.png" alt="">
            </div>
            <div class="note__img">
              <h4>Sofa 1m8</h4>
            <p>Phong cách hiện đại</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="item">
            <div class="item__img">
              <img src="../images/350x400.png" alt="">
            </div>
            <div class="note__img">
              <h4>Sofa 1m8</h4>
            <p>Phong cách hiện đại</p>
            </div>
          </div>
        </div>
  
  
        <div class="col-md-4">
          <div class="item">
            <div class="item__img">
              <img src="../images/350x400.png" alt="">
            </div>
            <div class="note__img">
              <h4>Sofa 1m8</h4>
            <p>Phong cách hiện đại</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="item">
            <div class="item__img">
              <img src="../images/350x400.png" alt="">
            </div>
            <div class="note__img">
              <h4>Sofa 1m8</h4>
            <p>Phong cách hiện đại</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="item">
            <div class="item__img">
              <img src="../images/350x400.png" alt="">
            </div>
            <div class="note__img">
              <h4>Sofa 1m8</h4>
            <p>Phong cách hiện đại</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="item">
            <div class="item__img">
              <img src="../images/350x400.png" alt="">
            </div>
            <div class="note__img">
              <h4>Sofa 1m8</h4>
            <p>Phong cách hiện đại</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
