<div class="feature__main">
  <div class="feature__link--pages">
    <a href="">Trang chủ</a>/ 
    <a href="">Danh mục</a>/ 
    <a href="">Sofa</a>/ 
    <a href="">Sofa 1m8</a>
   </div>
   
   <div class="feature__content">
     <div class="row">
       <div class="col-md-8">
         <img src="../images/feature.png" alt="">
       </div>
       <div class="col-md-4 item__right">
         <div class="content">
          <div class="title__product">
            <h3>Sofa 1m8</h3>
              <p>Lưu ý tính năng AR(thực tế tăng cường) chỉ có thể sử dụng trên nền tảng điện thoại hoặc máy tính bảng</p>
          </div>
    
          <div class="info__product">
            <h4>Thông tin sản phẩm</h4>
            <p>Sofa 1m8x2m</p>
          </div>
    
          <div class="back--page">
              <a href="#">Quay lại trang danh mục</a>
          </div>
         </div>
       </div>
     </div>
   </div>
</div>
