<div class="main__banner">
  <div class="banner__container">
    <p class="main__banner--header">
      Ướm thử nội thất <br> vào chính không gian <br> của bạn
    </p>
    <p>
      Sử dụng công nghệ AR, chúng tôi khiến việc lựa chọn nội thất trở nên dễ dàng hơn bao giờ hết
    </p>
    <div class="submit__banner">
      <button class="main__banner--button">
        Bắt đầu
      </button>
      <p>Hoàn toàn miễn phí</p>
    </div>
  </div>
</div>

<div class="main__introduce">
  <div class="banner__container">
    <div class="introduce__headding">
      Ướm thử mọi thứ trong không gian nhà bạn
    </div>
    <p class="note__header">Từ sofa, bàn ghế ăn đến giường tủ bàn ghế, mọi rủi ro đều được khắc phục với công nghệ AR
    </p>
    <div class="introduce__content">
      <div class="row">
        <div class="item col-md-4">
          <img src="../images/350x400.png" alt="">
          <p>Sofa</p>
        </div>
        <div class="item col-md-4">
          <img src="../images/350x400.png" alt="">
          <p>Bàn ghế ăn</p>
        </div>
        <div class="item col-md-4">
          <img src="../images/350x400.png" alt="">
          <p>Giường ngủ</p>
        </div>
        <div class="item col-md-4">
          <img src="../images/350x400.png" alt="">
          <p>Giường ngủ</p>
        </div>
        <div class="item col-md-4">
          <img src="../images/350x400.png" alt="">
          <p>Kệ trang trí</p>
        </div>
        <div class="item col-md-4">
          <img src="../images/350x400.png" alt="">
          <p>Tủ quần áo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="introduce__button">
    <button>KHÁM PHÁ THÊM</button>
  </div>
</div>

<div class="main__use">
  <div class="main__use--header">
    Sử dụng dễ dàng
  </div>
  <div class="main__use--content">
    <div class="row">
      <div class="item col-md-3">
        <div class="item__top">
          <img src="../images/320x320.png" alt="">
        </div>
        <div class="item__bot">
          <h3>Sử dụng điện thoại</h3>
          <p>
            Truy cập www.mant.vn/ar bằng trình duyệt chrome trên hệ điều hành Android hay Safari trên hệ điều hành IOS
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="item col-md-3">
        <div class="item__top">
          <img src="../images/320x320.png" alt="">
        </div>
        <div class="item__bot">
          <h3>Sử dụng điện thoại</h3>
          <p>
            Truy cập www.mant.vn/ar bằng trình duyệt chrome trên hệ điều hành Android hay Safari trên hệ điều hành IOS
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="item col-md-3">
        <div class="item__top">
          <img src="../images/320x320.png" alt="">
        </div>
        <div class="item__bot">
          <h3>Sử dụng điện thoại</h3>
          <p>
            Truy cập www.mant.vn/ar bằng trình duyệt chrome trên hệ điều hành Android hay Safari trên hệ điều hành IOS
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="item col-md-3">
        <div class="item__top">
          <img src="../images/320x320.png" alt="">
        </div>
        <div class="item__bot">
          <h3>Sử dụng điện thoại</h3>
          <p>
            Truy cập www.mant.vn/ar bằng trình duyệt chrome trên hệ điều hành Android hay Safari trên hệ điều hành IOS
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<div class="customer_reviews">
  <div class="customer_reviews--header">
    Khách hàng nhận xét gì về Mant AR
  </div>

  <div class="customer_reviews--headding">
    <div class="row add__carousel">
      <div class="col-md-4 remove__class customer__reviews--items">
        <div class="info__reviews">
          <div class="info__reviews--top">
            <div class="avatar">
              <img src="../images/review.png" alt="">
            </div>
            <div class="info">
              <h4>Bùi Việt Thái</h4>
              <p>Nhân viên văn phòng</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content__reviews">
            <p>Thật không thể tin là Việt Nam có được một cái công nghệ tuyệt vời như này</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 remove__class customer__reviews--items">
        <div class="info__reviews">
          <div class="info__reviews--top">
            <div class="avatar">
              <img src="../images/review.png" alt="">
            </div>
            <div class="info">
              <h4>Bùi Việt Thái</h4>
              <p>Nhân viên văn phòng</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content__reviews">
            <p>Thật không thể tin là Việt Nam có được một cái công nghệ tuyệt vời như này</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 remove__class customer__reviews--items">
        <div class="info__reviews">
          <div class="info__reviews--top">
            <div class="avatar">
              <img src="../images/review.png" alt="">
            </div>
            <div class="info">
              <h4>Bùi Việt Thái</h4>
              <p>Nhân viên văn phòng</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content__reviews">
            <p>Thật không thể tin là Việt Nam có được một cái công nghệ tuyệt vời như này</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 remove__class customer__reviews--items">
        <div class="info__reviews">
          <div class="info__reviews--top">
            <div class="avatar">
              <img src="../images/review.png" alt="">
            </div>
            <div class="info">
              <h4>Bùi Việt Thái</h4>
              <p>Nhân viên văn phòng</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content__reviews">
            <p>Thật không thể tin là Việt Nam có được một cái công nghệ tuyệt vời như này</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 remove__class customer__reviews--items">
        <div class="info__reviews">
          <div class="info__reviews--top">
            <div class="avatar">
              <img src="../images/review.png" alt="">
            </div>
            <div class="info">
              <h4>Bùi Việt Thái</h4>
              <p>Nhân viên văn phòng</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content__reviews">
            <p>Thật không thể tin là Việt Nam có được một cái công nghệ tuyệt vời như này</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 remove__class customer__reviews--items">
        <div class="info__reviews">
          <div class="info__reviews--top">
            <div class="avatar">
              <img src="../images/review.png" alt="">
            </div>
            <div class="info">
              <h4>Bùi Việt Thái</h4>
              <p>Nhân viên văn phòng</p>
            </div>
          </div>
          <div class="clear"></div>
          <div class="content__reviews">
            <p>Thật không thể tin là Việt Nam có được một cái công nghệ tuyệt vời như này</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product__description">
  <div class="items">
    <div class="item-left">
      <div class="product__description--img">
        <img src="../images/960x700.png" alt="">
      </div>
    </div>
    <div class="item-right">
      <div class="product__description--content">
        <h3>
          Ướm thử nội thất <br> vào chính không gian <br> của bạn
        </h3>
        <p>
          Sử dụng công nghệ AR, chúng tôi khiến việc lựa chọn nội thất trở nên dễ dàng hơn bao giờ hết
        </p>
        <button>Bắt đầu</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="registration__notify">
  <div class="registration__notify--header">
    <p>Đăng ký thông báo</p>
  </div>  
  <p>Nhận thông tin mới nhất từ Mant</p>
  <form action="">
    <input type="text" placeholder="Nhập địa chỉ email của bạn">
    <button type="submit">
      Đăng ký
    </button>
  </form>
</div> -->
