* {
  padding: 0;
  margin: 0;
}

//------color-------

$color__brown : #90866b;

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy.woff2') format('woff2'),
  url('../fonts/Gilroy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('../fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// Common
@import "_common.scss";

@import "pages/main.scss";
@import "pages/feature.scss";
@import "pages/category.scss";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy', sans-serif;
}
button {
  font-family: 'Gilroy', sans-serif;
}
body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}
